body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-image: linear-gradient(225deg, #3499FF 0%, #3E8AFC 22%, #6454F0 100%);
    background-size: cover;
    background-attachment: fixed;
    /* background-color: #3499FF; */
    /* background-image: url(assets/faq.png);
    background-size: cover;
    background-repeat: no-repeat; */
    height: 140vh;
    
}

.img{
    position: absolute;
    z-index: -1;
    text-align: center;
}

.mob{
    display: none;
}

.img > .web{
    object-fit: cover;
    width: 98vw;
    height: 84vh;
    overflow: hidden;
}

.logo{
    
    /* max-width: 100vw; */
    text-align: center;
    /* margin-top: 5px; */
    padding-top: 40px;
}

.logo > img{
    width: 140px;
    height: auto;
}

.main{
    text-align: center;
}

.head{
    /* text-align: center; */
    display: inline-block;
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 60px;
}

.text{
    font-size: 25px;
    color: #2726A7;
    font-weight: 700;
    margin-top: 10px;
}

button{
    margin-top: 50px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-weight: 700;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #3A39A5;
    outline: none;
}

.mainFaq{
    display: flex;
    justify-content: center;
}

.Faq{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    width: 1000px;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 40px;
}

i{
    float: right;
}

.hide{
    display: none;
}

.hideFont{
    display: none;
}

.question{
    width: 100%;
}

.questionStyle{
	padding: 10px;
	margin:0;
	border-bottom: 1px solid #4285F4;
	font-weight: normal;
    font-size: 18px;
    color: #2726A7;
    cursor: pointer;
}

.answer{
	padding-top: 8px;
	padding-left: 1rem;
	font-weight: 300;
    font-size: 19px;
    color: rgba(0, 0, 0, 0.5);
    /* margin-top: 5px; */
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background: #3A39A5;
}

::-webkit-scrollbar-track{
    background-color: #3E8AFC;
}

@media (max-width:1050px){
    .img > .web{
        display: none;
    }
    .img > .mob{
        display: block;
        object-fit: cover;
        width: 98vw;
        height: 65vh;
    }
    body{
        height: 100vh;
    }
    .head{
        font-size: 50px;
    }
    .Faq{
        /* margin-bottom: 50px; */
        margin-left: 50px;
        margin-right: 50px;
        width: 700px;
    }
    .questionStyle{
        font-size: 24px;
    }
    .answer{
        font-size: 24px;
    }
    button{
        padding:20px;
        font-size: 17px;
        border-radius: 5px;
    }

    .logo > img{
        width: 200px;
        height: auto;
    }
}

@media (max-width:800px){
    .img > .web{
        display: none;
    }
    .img > .mob{
        display: block;
        object-fit: cover;
        width: 98vw;
        height: 70vh;
    }
    body{
        height: 100vh;
    }
    .head{
        font-size: 38px;
    }
    .Faq{
        /* margin-bottom: 50px; */
        margin-left: 50px;
        margin-right: 50px;
        width: 550px;
    }
    .questionStyle{
        font-size: 20px;
    }
    .answer{
        font-size: 20px;
    }
}

@media (max-width:500px){
    .img > .web{
        display: none;
    }
    .img > .mob{
        display: block;
        object-fit: cover;
        width: 98vw;
        height: 90vh;
    }
    body{
        height: 120vh;
    }
    .text{
        font-size: 18px;
    }
    .head{
        font-size: 26px;
    }
    .Faq{
        margin-bottom: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .questionStyle{
        font-size: 15px;
    }
    .answer{
        font-size: 14px;
    }
    button{
        padding:15px;
        font-size: 14px;
    }
    .logo > img{
        width: 150px;
        height: auto;
    }

    .logo{
        padding-top: 40px;
    }
}

@media (max-width:400px){
    .text{
        font-size: 18px;
    }
    .head{
        font-size: 24px;
    }
    .Faq{
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
    body{
        height: 120vh;
    }   
    .questionStyle{
        font-size: 13px;
    }
    .answer{
        font-size: 14px;
    }
}

@media (max-width:350px){
    .img > .web{
        display: none;
    }
    .img > .mob{
        display: block;
        object-fit: cover;
        width: 98vw;
        height: 100vh;
    }

    .head{
        font-size: 20px;
    }

    .text{
        margin-top: 10px;
        font-size: 17px;
    }

    .Faq{
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .questionStyle{
        font-size: 11px;
    }

    body{
        height: 120vh;
    }
    .answer{
        font-size: 12px;
    }
}